#root {
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

@font-face {
  font-family: 'one';
  src: url('./assets/fonts/icam.6b63bf7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'two';
  src: url('./assets/fonts/font-one.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'three';
  src: url('./assets/fonts/font-two.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-three.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-four.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-five.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-six.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-seven.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-eight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-nine.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-ten.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-el.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'four';
  src: url('./assets/fonts/font-twel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.font-one {
  font-family: 'one', sans-serif;
}

.font-two {
  font-family: 'two', sans-serif;
}

.font-three {
  font-family: 'three', sans-serif;
}

.font-four {
  font-family: 'four', sans-serif;
}

.font-five {
  font-family: 'four', sans-serif;
}

.font-six {
  font-family: 'four', sans-serif;
}

.font-seven {
  font-family: 'four', sans-serif;
}

.font-eight {
  font-family: 'four', sans-serif;
}

.font-nine {
  font-family: 'four', sans-serif;
}

.font-ten {
  font-family: 'four', sans-serif;
}

.font-eleven {
  font-family: 'four', sans-serif;
}

.font-twelve {
  font-family: 'four', sans-serif;
}

.font-wider {
  font-stretch:ultra-expanded
}




